@import '@scss/vars.scss';

.aboutUsSection{
    @extend %section;
    background: $c-def-white;
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px; 
    }
}
.contentWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    

    h3{
        font-size: $fz-md;
        font-weight: 500;
    }
    p{
        padding-top: 10px;
    }

   

    .numberBlock{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-top: 20px;


        .numbers{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            
           .boldNumb{
            font-size: $fz-xl;
            font-weight: 700;
           }
        }
    }

}
.contentWrapper{
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}