@import '@scss/vars.scss';

.enrollBtn {
	width: 100%;
	max-width: 270px;
	padding: 20px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $c-def-white;
	font-weight: 700;
	background-color: $c-orange;
	border-radius: $br-max;
	transition: $transition;
    margin-top: 25px;

	&:hover {
		background-color: $c-light-orange;
		color: $c-orange;
	}
	// &:focus {
	// 	background-color: #c2383d;
	// 	color: $c-def-white;
	// }


	span{
		font-family: 'Montserrat';

	}
}

.outlineBtn {
		color: $c-orange;
		background-color: $c-def-white;
		border: 3px solid $c-orange;

		&:hover {
			background-color: $c-orange;
			color: $c-def-white;
		}
}