@import '@scss/vars.scss';
@import './reset.scss';

@font-face {
  font-family: 'Lifehack';
  src: url('/public/font/ofont.ru_Lifehack\ Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	font-size: 62.5%;
}

 body {
	font-family: 'Montserrat', sans-serif;
 	color: $c-def-dark-grey;
	font-size: $fz-def;
	font-family: 'Lifehack', sans-serif;
// 	background-color: $c-def-grey;
 }

.app {
	min-height: 100vh;
}