@import '@scss/vars.scss';

.label {
  margin-bottom: 16px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 20px 18px;
  border: 0;
  border-radius: 16px;
  background-color: white;

  &::placeholder {
    color: $c-def-light-grey;
  }
}

.inputError {
  border: 2px solid #f05355;
}

.errorMessage {
  color: #F05355;
  font-size: 18px;
}