@import '@scss/vars.scss';

.footer {
	background-color: $c-def-light-grey;
	
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	.leftWrapper {
		@extend %container;
		padding: 25px 15px;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		color: $c-def-dark-grey;
		
	
		.secondPart {
			position: relative;

			ul {
				

				li {
					& + li {
						margin-top: 10px;
					}
				}
			}
		}
	}

	.thirdPart {
		ul {
			

			li {
				

				& + li {
					margin-top: 10px;
				}
			}
		}
	}

}