@import '@scss/vars.scss';

.footer {
	background-color: $c-def-light-grey;
	
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	a{
		font-family: 'Montserrat';
	}

	.contentWrapper {
		@extend %container;
		padding: 25px 15px;
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		color: $c-def-dark-grey;
		
	
		.wrapper{
		display: flex;
        flex-direction: column;
        align-items: flex-start;

		h3{
			font-size: $fz-md;
			font-weight: 500;
		}
		}
	}

	
}
.icons{
	display: flex;
	justify-content: space-between;
	width: 30%;
}