@import '@scss/vars.scss';

.firstSection{
    @extend %section;
    background: $c-def-light-grey;
    background-size: cover;
    h1{
        font-size: $fz-xxl;
        line-height: 0.9;
    }
}

.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;

    p{
        padding-top: 10px;
        font-family: 'Montserrat';
        font-size: $fz-mds;
    
    }

    h1{
        font-size: $fz-xxl;
        padding-top: 10px
    }
}
.contentWrapper{
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

