@import '@scss/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.popupInner { 
	background-color: $c-def-light-grey;
	max-width: 700px;
	padding: 60px;
	border-radius: 20px;

	width: 100%;

	display: flex;
	gap: 36px;
	flex-direction: column;

	position: relative;
}

.popupImage {
	position: absolute;
	right: 0;
	top: 0;
	border-top-right-radius: 20px;
}

.thanksPopupImage {
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 20px;
}

.popupTitle {
	font-size: 54px;
	font-weight: 600;
	letter-spacing: 2.5px;

	h2 {
		align-items: start;
		justify-content: start;
	}
}

.popupDescription {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}


.formBlock {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.smallInputBlock {
	display: flex;
	gap: 16px;

	&>div {
		flex: 1
	}
}

.policyBlock {
	display: flex;
	gap: 16px;

	& .policyInfo {
		text-decoration: underline;
	}
}

.enrollBtn {
	width: 100%;
	max-width: 220px;
	padding: 15px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	color: $c-def-white;
	font-weight: 700;
	background-color: $c-orange;
	border-radius: $br-max;
	transition: $transition;
    margin-top: 10px;

	&:hover {
		background-color: $c-light-orange;
		color: $c-orange;
	}
}
