.nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  
      li {
        position: static;
        padding-left: 20px;
        
          &:hover {
            transform: scale(1.2);
  
    
  
            &::after, &::before {
              width: 0 !important;
            }
        }
  
        a { 
          font-family: 'Montserrat';
          
        }
  
        &::after, &::before {
          transition: $transition;
          content: '';
          position: absolute;
          height: 1px;
          width: 0;
        }
  
        &::before {
          bottom: -5px;
          left: 50%;
        }
  
        &::after {
          bottom: -5px;
          right: 50%;
        }
  
        &:hover {
          &::after {
            width: 55%;
          }
  
          &::before {
            width: 55%;
          }
        }
      }
    }
  }