.wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;

    h4{
        padding-top: 10px;
        font-size: $fz-md;
        font-weight: 500;
        
    }

    h2{
        font-size: $fz-xl;
        padding-top: 10px
    }
}
.contentWrapper{
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.advSection{
    background-image: url("images/advback.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-size: $fz-xl;
    }
}
